{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的网站|首页
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
    <!--<h3 class="home-content">欢迎访问我的网站</h3>-->
    <!--<div class="home-perform">-->
        <div class="jumbotron masthead">
            <div class="container">
                <div class="text-center">
                    <h1>欢迎访问我的网站</h1>
                    <hr>
                    <h2>既然来了，就随便看看</h2>
                </div>
            </div>
        </div>

        <div class="bc-social">
            <div class="container">
                <div class="text-center">
                  <ul class="bc-social-buttons">
                    <li class=""><a class="" href="http://wenda.bootcss.com">Bootstrap问答社区</a></li>
                    <li class=""><a href="http://weibo.com/bootcss">新浪微博：@Bootstrap中文网</a></li>
                    <li class=""><a href="https://github.com/384925349">GitHub:@酸奶盖</a></li>
                  </ul>
                </div>
            </div>
        </div>



    <!--</div>-->
{% endblock %}
